/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

/* Contenedor del login */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #e6f2ff;
}

/* Título */
.title {
    color: #007bff;
    margin-top: 3%; /* Reduce el margen superior */
    margin-bottom: 1.5%;
    font-size: 2rem; /* Tamaño de fuente más pequeño */
    text-align: center;
}

/* Caja de login */
.login-box {
    background-color: #ffffff;
    padding: 4%; /* Padding reducido */
    padding-right: 8%; /* Ajuste en porcentaje */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Sombra más pequeña */
    width: 70%; /* Reduce el ancho del contenedor */
    max-width: 300px; /* Limita el ancho en pantallas grandes */
    text-align: center;
    margin-top: 3%;
}

/* Título dentro de la caja de login */
.login-box h2 {
    color: #007bff;
    margin-bottom: 3%; /* Margen más pequeño */
}

/* Etiquetas */
label {
    display: block;
    margin: 3% 0 1%; /* Margen más pequeño */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    color: #333;
}

/* Campos de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 2%; /* Reduce el padding */
    margin-bottom: 3%;
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 0.9rem; /* Reduce el tamaño del texto */
}

/* Botón */
button {
    width: 100%;
    padding: 2%; /* Reduce el padding */
    margin-top: 10%; /* Reduce el padding */
    margin-left: 3%; /* Desplaza ligeramente a la derecha */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem; /* Tamaño de fuente ligeramente reducido */
    cursor: pointer;
}

button:hover {
    background-color: #011e3e;
}
