body {
  background-color: black;
  color: #1a3c7d;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  color: #4DA6FF;
  text-align: center;
  padding: 20px 0;
}

.members {
  background-color: #05183c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.members h2, .members li {
  color: #4DA6FF;
}

.task-manager {
  background-color: #05183c;
  padding: 20px;
  border-radius: 5px;
}

.task-manager h2 {
  color: #4DA6FF;
}

.new-task, .cambiar-estado, .eliminar-tarea {
  background-color: #1a3c7d;
  color: #4DA6FF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  
}

button:active {
  color: #fff;
}


.estado-finalizada-t {
  color: #4DA6FF;
  text-decoration: line-through; 
}

.estado-pendiente-t {
  color: #4DA6FF; 
}

.subtitulo-tarea{
  color: #fff;
}

.estado-finalizada {
  color: green;  
}

.estado-pendiente {
  color: #ffdd34;  
}

.adicionar-tarea{
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  input  { 
    background-color: #05183c;
    color: #fff;
    border-radius: 3px;
    border-color: #4DA6FF;
  }

  input:focus{
    color: #fff;
  }

  ::placeholder {
    color: #fff
  }

  .i1{
    width: 30%;
    margin-right: 3%;
  }
  .i2{
    width: 65%;
  }
}